@charset "UTF-8";
/* ------------------------------ */
/* 167行目まではリセット用のCSS です。*/
/* ------------------------------ */
html {
  color: #000;
  background: #fff;
  font-size: 62.5%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0;
  border: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* 以下はレイアウトパーツのCSSです。 */
:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 496px;
  --content-width: 672px;
  --content-width-lg: 1024px;
}

.ly_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
  padding: 0 16px;
  margin: 0 auto;
}

.ly_container {
  max-width: calc(var(--content-width) + 32px);
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .ly_container {
    padding: 0 32px;
  }
}
.ly_sections {
  padding-bottom: 72px;
}

.ly_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .ly_container-lg {
    padding: 0 32px;
  }
}
.ly_contents {
  padding: 80px 0;
}

@media screen and (min-width: 1080px) {
  .ly_contents-pc {
    padding: 120px 0;
  }
}
.ly_header-inner {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ly_header-inner {
    padding: 0 0 0 32px;
  }
}
.bl_works_ttl {
  font-size: 7rem;
  font-family: var(--section-font);
  color: var(--gray-color02);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.bl_works_cards {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.bl_card_title {
  margin-top: 8px;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}

.bl_header {
  height: 80px;
}

@media screen and (min-width: 768px) {
  .bl_header {
    height: 136px;
  }
}
.bl_header_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-color);
  z-index: var(--z-index-header);
}

@media screen and (min-width: 768px) {
  .bl_header_nav {
    position: static;
    background: transparent;
    width: auto;
    height: 100%;
    opacity: 1;
    pointer-events: inherit;
  }
}
.bl_header_nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 375px;
  padding: 0 32px;
}

@media screen and (min-width: 768px) {
  .bl_header_nav-list {
    display: flex;
    height: 100%;
    position: static;
    transform: translate(0, 0);
    max-width: 100%;
  }
}
.bl_header_nav-item {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .bl_header_nav-item {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.bl_header_nav-item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .bl_header_nav-item:not(:first-child) {
    margin-top: 0;
  }
}
.bl_header_nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .bl_header_nav-link {
    height: 100%;
    padding-left: clamp(2rem, -0.286rem + 2.976vw, 4rem);
    padding-right: clamp(2rem, -0.286rem + 2.976vw, 4rem);
  }
}
.bl_header_text-en {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.bl_header_text-en::after {
  content: "";
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-color);
  height: 1px;
  width: 88px;
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .bl_header_text-en::after {
    display: none;
  }
}
.bl_header_text-ja {
  font-size: 1.4rem;
  font-family: var(--sub-font);
  white-space: nowrap;
  margin-left: 24px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .bl_header_text-ja {
    display: none;
  }
}
.js_header-accordion {
  position: relative;
}

.js_header-accordion::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: translateX(-20%) rotate(45deg);
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 96px;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .js_header-accordion::after {
    left: 136px;
    top: 60px;
  }
}
.js_header-accordion.is_open::after {
  transform: rotate(135deg);
}

@media screen and (min-width: 768px) {
  .js_header-accordion {
    padding: 0 40px;
    position: relative;
  }
}
.bl_header_accordion-body {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .bl_header_accordion-body {
    position: absolute;
    top: 72px;
  }
}
.bl_header_accordion-list {
  margin-left: 32px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(-50px);
}

@media screen and (min-width: 768px) {
  .bl_header_accordion-list {
    margin-left: 0;
  }
}
.bl_header_accordion-list.is_open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.bl_header_accordion-item:not(:first-child) {
  margin-top: 24px;
}

.bl_hamburger {
  width: 40px;
  height: 32px;
  position: relative;
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 768px) {
  .bl_hamburger {
    display: none;
  }
}
.bl_hamburger_bar {
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--black-color);
  left: 50%;
  transition: 0.3s;
}

.bl_hamburger_bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.bl_hamburger_bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bl_hamburger_bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.js_hamburger.is-active .bl_hamburger_bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .bl_hamburger_bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .bl_hamburger_bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}

.js_navigation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 768px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}
.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.bl_service_ttl {
  font-size: 7rem;
  font-family: var(--section-font);
  color: var(--gray-color02);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .bl_service_ttl {
    font-size: 10rem;
  }
}
.bl_service_items {
  margin-top: 64px;
  overflow-x: hidden;
}

.bl_service_item {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30%);
  transition: 0.6s;
}

.bl_service_item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .bl_service_item:not(:first-child) {
    margin-top: 80px;
  }
}
.bl_service_item-ttl {
  font-size: 2.4rem;
  font-family: var(--sub-font);
  color: var(--gray-color02);
  position: relative;
}

@media screen and (min-width: 768px) {
  .bl_service_item-ttl {
    font-size: 3.2rem;
  }
}
.bl_service_item-ttl:after {
  content: "HEARING";
  display: block;
  margin-top: 4px;
  font-size: 1.6rem;
  font-family: var(--light-gothic);
}

.bl_service_item-ttl__design::after {
  content: "DESIGN";
}

.bl_service_item-ttl__coding::after {
  content: "CODING";
}

.bl_service_item-icon {
  content: "";
  display: inline-block;
  position: absolute;
  left: 128px;
  width: 24px;
  height: 24px;
  background: url(../../img/file-img.jpeg) no-repeat center center/cover;
}

@media screen and (min-width: 768px) {
  .bl_service_item-icon {
    left: 168px;
    width: 28px;
    height: 28px;
  }
}
.bl_sevice_item-icon_design {
  background: url(../../img/pen-img.jpeg) no-repeat center center/cover;
  left: 104px;
}

@media screen and (min-width: 768px) {
  .bl_sevice_item-icon_design {
    left: 128px;
  }
}
.bl_service_item-icon__coding {
  background: url(../../img/pc-img.jpeg) no-repeat center center/cover;
  left: 152px;
}

@media screen and (min-width: 768px) {
  .bl_service_item-icon__coding {
    left: 200px;
  }
}
.bl_service_item-txt {
  font-size: 1.2rem;
  font-family: var(--sub-font);
  line-height: 1.3;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .bl_service_item-txt {
    font-size: 1.8rem;
  }
}
.bl_cta_txt {
  font-size: 1.4rem;
  font-family: var(--sub-font);
}

.bl_footer_wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl_footer_text {
  font-size: 2rem;
  font-family: var(--sub-font);
  color: var(--gray-color03);
}

.bl_page-top {
  position: fixed;
  display: inline-block;
  width: 48px;
  height: 48px;
  right: 16px;
  bottom: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
}

.bl_page-top.is_upMove {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .bl_page-top {
    right: 32px;
  }
}
.bl_works_cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .bl_works_cards {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .bl_card:not(:first-child) {
    margin-top: 0;
  }
}
.bl_card_works {
  padding: 24px;
  border: 1px solid var(--gray-color04);
  border-radius: 8px;
}

.bl_card_title__works {
  font-family: var(--bold-gothic);
  font-size: 2rem;
}

.bl_card_body {
  text-align: left;
}

.bl_card_title01::after {
  content: "https://gyunikukan.com";
  display: block;
  margin-top: 8px;
  font-family: var(--sub-font);
  font-size: 1.6rem;
}

.bl_card_title__02::after {
  content: "https://DTP-personal.com";
  display: block;
  margin-top: 8px;
  font-family: var(--sub-font);
  font-size: 1.6rem;
}

.bl_card_kinds {
  display: block;
  font-family: var(--sub-font);
  font-size: 1.6rem;
  margin-top: 24px;
}

.bl_works_ttl {
  font-size: 7rem;
}

@media screen and (min-width: 768px) {
  .bl_works_ttl {
    font-size: 10rem;
    margin-top: 80px;
  }
}
.bl_works_page-link {
  font-size: 1.4rem;
  font-family: var(--sub-font);
}

.bl_about_ttl {
  margin-top: 64px;
  font-size: 7rem;
  font-family: var(--section-font);
  color: var(--gray-color02);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .bl_about_ttl {
    margin-top: 128px;
    font-size: 10rem;
  }
}
.bl_about_contents {
  margin-top: 64px;
}

.bl_about_content:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .bl_about_content:not(:first-child) {
    margin-top: 80px;
  }
}
.bl_about_head {
  font-family: var(--sub-font);
  font-size: 2.1rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bl_about_head {
    font-size: 4.2rem;
    align-items: normal;
  }
}
.bl_about_head::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 24px;
  background-color: #000;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .bl_about_head::before {
    height: 40px;
    margin-right: 12px;
  }
}
.bl_about_body {
  margin-top: 16px;
}

.bl_about_name-text {
  font-size: 2rem;
  font-family: var(--bold-gothic);
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .bl_about_name-text {
    font-size: 2.4rem;
    padding-bottom: 16px;
  }
}
.bl_about_name-text::before {
  content: "植田駿介";
  display: block;
  font-size: 1.4rem;
  font-family: var(--sub-font);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .bl_about_name-text::before {
    font-size: 1.8rem;
  }
}
.bl_about_project-text {
  font-size: 1.6rem;
  font-family: var(--bold-gothic);
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .bl_about_project-text {
    font-size: 2rem;
    padding-bottom: 16px;
  }
}
.bl_about_contact-text {
  font-size: 1.6rem;
  font-family: var(--bold-gothic);
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .bl_about_contact-text {
    font-size: 2.2rem;
    padding-bottom: 16px;
  }
}
.bl_contact_ttl {
  font-size: 7rem;
  font-family: var(--section-font);
  color: var(--gray-color02);
}

.bl_contact-form {
  margin-top: 64px;
}

.bl_contact-form_detail {
  margin-top: 8px;
}

.bl_contact-form_head {
  font-size: 2.1rem;
  font-family: var(--bold-gothic);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.bl_contact-form_required {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 40px;
  height: 24px;
  font-size: 12px;
  font-family: var(--bold-gothic);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.bl_contact-form_any {
  background-color: var(--gray-color);
  color: var(--gray-color02);
  width: 40px;
  height: 24px;
  font-size: 12px;
  font-family: var(--bold-gothic);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.bl_contact-form_head:not(:first-child) {
  margin-top: 24px;
}

.bl_contact-form_input {
  border: 1px solid var(--gray-color04);
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
}

.bl_contact-form_example {
  display: block;
  font-size: 12px;
  color: var(--gray-color02);
  margin-top: 8px;
}

.bl_contact-form_checkbox-list {
  margin-top: 24px;
}

.bl_contact-form_checkbox-item:not(:first-child) {
  margin-top: 16px;
}

.bl_contact-form_radio-item {
  background-color: var(--gray-color02);
  height: 48px;
  display: flex;
}

.bl_contact-form_checkbox-item:not(:first-child) {
  margin-top: 32px;
}

.contact-form_radio {
  margin-left: 16px;
}

.contact-form_checkbox-label {
  font-size: 2rem;
  font-family: var(--sub-font);
  margin-left: 8px;
}

.contact-form_checkbox {
  width: 16px;
  height: 16px;
}

.bl_contact-form_label {
  font-size: 22px;
  font-family: var(--bold-gothic);
  color: var(--gray-color02);
  display: flex;
  align-items: center;
}

.bl_contact-form_textarea {
  width: 100%;
  background-color: var(--white-color);
  font-size: 1.4rem;
  padding: 16px 8px;
  height: 240px;
  border: 1px solid var(--gray-color04);
  border-radius: 4px;
}

.bl_contact-form_annotation {
  margin-top: 8px;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}

.bl_contact-form_privacy {
  margin-top: 64px;
  padding: 8px 0;
  background-color: var(--gray-color02);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.bl_contact-form_checkbox {
  width: 24px;
  height: 24px;
}

.bl_contact-form_checkbox-label {
  font-weight: bold;
  font-size: 14px;
}

.bl_contact-form_privacy-link {
  color: var(--primary-color);
  -webkit-text-decoration: underline var(--primary-color);
          text-decoration: underline var(--primary-color);
  text-underline-offset: 2px;
}

.bl_contact-forel_btn-wrapper {
  margin-top: 64px;
}

.el_logo {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .el_logo {
    width: 120px;
    height: 72px;
  }
}
.el_btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 64px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-family: var(--bold-gothic);
  font-size: 1.6rem;
  transition: 0.3s;
  margin-top: 8px;
  position: relative;
}

.el_btn-link:hover,
.el_btn-link:focus-visible {
  transform: scale(1.05);
  box-shadow: 0 2px 14px var(--black-color);
}

.el_btn {
  width: 168px;
  height: 64px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.un_kv_contents {
  margin-top: 60px;
  padding: 0 16px;
  max-width: 388px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .un_kv_contents {
    max-width: 1024px;
    padding: 0 64px;
  }
}
.un_kv {
  position: relative;
  height: 330px;
}

@media screen and (min-width: 768px) {
  .un_kv {
    height: 768px;
  }
}
.un_kv_txt {
  font-size: 4.7rem;
  font-family: var(--kv-font);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  max-width: 366px;
}

@media screen and (min-width: 768px) {
  .un_kv_txt {
    font-size: clamp(10rem, 9.771rem + 0.298vw, 10.2rem);
    max-width: 748px;
  }
}
.un_kv_txt span {
  opacity: 0;
}

.un_kv_txt.appeartext span {
  animation: text_anime_on 0.1s ease-out forwards;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.un_kv_img-box {
  width: 224px;
  height: 224px;
  position: absolute;
  left: 160px;
  bottom: 24px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .un_kv_img-box {
    width: 504px;
    height: 560px;
    left: clamp(30rem, 5.771rem + 31.548vw, 51.2rem);
    bottom: 56px;
  }
}
.un_kv_img {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown2 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  top: 100%;
  left: 6%;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .scrolldown2 {
    top: 64%;
    left: 6%;
  }
}
/*Scrollテキストの描写*/
.scrolldown2 span {
  /*描画位置*/
  position: absolute;
  left: 16px;
  bottom: 8px;
  /*テキストの形状*/
  color: #000;
  font-size: 1.6rem;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -6px;
  /*丸の形状*/
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 2.2s ease-in-out infinite, cirlemovehide 2.2s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: -5px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 4px;
  height: 80px;
  background: #000;
}

.un_about-kv {
  background: url(../../img/about-kv-img-sp.jpg) no-repeat center center/cover;
  height: 440px;
}

@media screen and (min-width: 768px) {
  .un_about-kv {
    background: url(../../img/about-kv-img.jpg) no-repeat center center/cover;
    height: clamp(42.4rem, 8.571rem + 44.048vw, 72rem);
  }
}
.hp_mt40 {
  margin-top: 40px !important;
}

.hp_mt60 {
  margin-top: 60px;
}

.hp_mb80 {
  margin-bottom: 80px;
}

.is_kv-op {
  visibility: visible;
  opacity: 1;
}

.io_scroll {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  /* 色管理用の変数 */
  --black-color: #001C2B;
  --white-color: #fff;
  --gray-color: #d9d9d9;
  --gray-color02: #6b6767;
  --gray-color03: #373739;
  --gray-color04: #9d9d9d;
  --primary-color: #43cfe8;
  --primary-color02: #ddf4f6;
  --accent-color: #e84d43;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 496px;
  --content-width: 672px;
  --content-width-lg: 1024px;
}

:root {
  --main-font:"lato-regular",sans-serif;
  --sub-font:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  --kv-font:"bradley-hand-itc",sans-serif;
  --section-font:"cormorantGaramond-semibold";
  --light-gothic:"Yu Gothic Light",sans-serif;
  --bold-gothic:"Yu Gothic bold",sans-serif;
}
@font-face {
  font-family: "lato-regular";
  src: url(../fonts/Lato-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "bradley-hand-itc";
  src: url(../fonts/bradley-hand-itc.ttf) format(truetype);
}
@font-face {
  font-family: "cormorantGaramond-semibold";
  src: url(../fonts/CormorantGaramond-SemiBold.ttf) format(truetype);
}
@font-face {
  font-family: "Yu Gothic Light";
  src: url(../fonts/yu-gothic-light.ttf) format(truetype);
}
@font-face {
  font-family: "Yu Gothic bold";
  src: url(../fonts/yu-gothic-bold.ttf) format(truetype);
}

body.is-active {
  overflow: hidden;
}

/* モーダル */
.modal-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

.modal-container {
  background-color: #fff;
  max-height: 100vh;
  overflow-y: auto;
  padding: 30px;
  width: 80%;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  background: transparent;
  border: 0;
}

.modal-header .modal-close::before {
  content: "✕";
  font-size: 2.4rem;
  font-weight: bold;
}

.modal-content {
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.modal-open {
  display: block;
}

.box01 {
  background-color: #ccc;
  height: 200px;
  margin: 0 auto;
  width: 80%;
}

.box02 {
  background-color: #ccc;
  height: 200px;
  margin: 0 auto;
  width: 80%;
}

/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}/*# sourceMappingURL=style.css.map */