// こちらは全てのSCSSファイルを取り込んでstyle.cssとして出力するためのファイルです。
@charset "utf-8";
@use 'setting/index';
html{
  font-size: 10px;
  scroll-behavior: smooth;
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;

}
:root {
  /* 色管理用の変数 */
  --black-color: #001C2B;
  --white-color: #fff;
  --gray-color: #d9d9d9;
  --gray-color02: #6b6767;
  --gray-color03: #373739;
  --gray-color04: #9d9d9d;
  --primary-color: #43cfe8;
  --primary-color02: #ddf4f6;
  --accent-color: #e84d43;
}

 :root{
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
 }
 :root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 496px;
  --content-width: 672px;
  --content-width-lg: 1024px;
}:root{
  //  フォントの指定
  @font-face {
    font-family: 'lato-regular' ;
    src: url(../fonts/Lato-Regular.ttf) format(truetype);
  }
  @font-face {
    font-family: 'bradley-hand-itc';
    src: url(../fonts/bradley-hand-itc.ttf) format(truetype);
  }
  @font-face {
    font-family: 'cormorantGaramond-semibold';
    src: url(../fonts/CormorantGaramond-SemiBold.ttf)format(truetype);
  }
  @font-face {
    font-family: 'Yu Gothic Light';
    src: url(../fonts/yu-gothic-light.ttf)format(truetype);
  }
  @font-face {
    font-family: 'Yu Gothic bold';
    src: url(../fonts/yu-gothic-bold.ttf)format(truetype);
  }
  --main-font:'lato-regular',sans-serif;
  --sub-font:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  --kv-font:'bradley-hand-itc',sans-serif;
  --section-font:'cormorantGaramond-semibold';
  --light-gothic:'Yu Gothic Light',sans-serif;
  --bold-gothic:'Yu Gothic bold',sans-serif;
 }
body.is-active{
  overflow: hidden;
}
/* モーダル */
.modal-overlay {
  align-items: center;
  background: rgba(0,0,0,.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

.modal-container {
  background-color: #fff;
  max-height: 100vh;
  // max-width: 500px;
  overflow-y: auto;
  padding: 30px;
  width: 80%;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  background: transparent;
  border: 0;

}

.modal-header .modal-close::before {
  content: "\2715";
  font-size: 2.4rem;
  font-weight: bold;  
}

.modal-content {
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.modal-open {
  display: block;
}

.box01 {
  background-color: #ccc;
  height: 200px;
  margin: 0 auto;
  width: 80%;
}

.box02 {
  background-color: #ccc;
  height: 200px;
  margin: 0 auto;
  width: 80%;
}

/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}



